@media (max-width: 1024px) {
	
	main {
		position: absolute;
		top: 0;
		left: 150px;
		width: 120px;
	}
	
	nav {
		position: fixed;
		top: 0;
		left: 0;
	}
	
	li{
		text-align: left;
	}
	
	body {
	background-color: orangered;
	background-image: url(https://cdn.wallpapersafari.com/68/19/Kt6YDP.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: auto;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color: white;
	text-align: center;}

h1 {
	font-family: papyrus;
	font-size: 50px;
	text-align: center;
	color: white;
	background-color: darkred;
	border-style: inherit;
	border-radius: 5px;
	padding: 20px;
	padding-top: 40px;}

h3 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color: white;
	text-align: center;
	
}

a:hover {
	color: darkolivegreen;
	text-align: center;
	font-size: 15px;
		
}

#jae:hover {
	color: lightpink;
	text-align: center;
	font-size: 15px;
}

.responsive {
	max-width: 100%;
	height: auto;
}
}


@media (max-width: 768px) {
	
	main {
		position: absolute;
		top: 0;
		left: 150px;
		width: 120px;
	}
	
	nav {
		position: fixed;
		top: 0;
		left: 0;
	}
	
	li{
		text-align: left;
	}
	
	body {
	background-color: orangered;
	background-image: url(https://wallpaperaccess.com/full/404784.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: auto;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color: white;
	text-align: center;
	
}

h1 {
	font-family: papyrus;
	font-size: 50px;
	text-align: center;
	color: white;
	background-color: darkred;
	border-style: inherit;
	border-radius: 5px;
	padding: 20px;
	padding-top: 40px;
	
}

h3 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color: white;
	text-align: center;
	
}

a:hover {
	color: darkolivegreen;
	text-align: center;
	font-size: 15px;
		
}

#jae:hover {
	color: lightpink;
	text-align: center;
	font-size: 15px;
}

.responsive {
	max-width: 100%;
	height: auto;
}
}

@media (max-width: 480px) {

	main {
		position: absolute;
		top: 0;
		left: 150px;
		width: 120px;
	}
	
	nav {
		position: fixed;
		top: 0;
		left: 0;
	}
	
	li{
		text-align: left;
	}
	
	body {
	background-color: orangered;
	background-image: url(https://media.istockphoto.com/photos/abstract-orange-background-picture-id679762938?k=20&m=679762938&s=170667a&w=0&h=2w542_6ysiXx6WFHtRB6liiPPMkEJGP4ltcRAVhFmD0=);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: auto;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color: white;
	text-align: center;
	
	}

	h1 {
	font-family: papyrus;
	font-size: 50px;
	text-align: center;
	color: white;
	background-color: darkred;
	border-style: inherit;
	border-radius: 5px;
	padding: 20px;
	padding-top: 40px;
	
	}

	h3 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color: white;
	text-align: center;
	
	}

	a:hover {
	color: darkolivegreen;
	text-align: center;
	font-size: 15px;
		
	}

	#jae:hover {
	color: lightpink;
	text-align: center;
	font-size: 15px;
	}

	.responsive {
	max-width: 100%;
	height: auto;
	}
	}